@font-face {
    font-family: 'Questrial';
    src: url(Fonts/Questrial/Questrial-Regular.ttf);
}
@font-face {
    font-family: "parisienne";
    src: url(Fonts/Parisienne/Parisienne-Regular.ttf);
}

.body
{
    background-image: linear-gradient(#52dfe1,#bbf1eb);
    height: 20cm;
}

.main
{
    position: relative;
    top: 1cm;
    margin-left: 100px;
    color: rgb(9, 78, 105);
    font-family: 'Questrial';
    font-size: 90px;
   
    
}
.nav
{
    color: rgb(9, 78, 105);
    position: relative;
    top: 20px;
    font-size: 35px;
    font-family: 'parisienne';
    font-weight: 900;
}
